#img: hover
{
	cursor: pointer;
}
.center-div
{
	text-align: center;
    width: 600px;
    line-height: 0.9;
    margin: 0px auto;
}
#title{
font-family:cursive;
font-size:middle;
}
#subtitle{
font-family:cursive;
font-size:12;

}
#subt{
font-family:cursive;
font-size:8;
color:gray;
}
.selection{
padding-left:100px;
font-family:cursive;
font-size:10;
width:150px;
}


fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }
fieldset{
	border: none;
	 
}
.row {
  display: grid;
  grid-template-columns: 1100px 200px;

  background-color: white;
  color: black;
}
#user{
	padding-bottom: 40px; 
    padding-top: 30px;
}
.rating {
	float: left;
	
}
.rating:not(:checked) > input {
	display: none;
	padding-bottom: 10px;
	float: left;

}

.rating:not(:checked) > label {
	
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;

    line-height:1.0;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.center{
text-align: center;
    width: 600px;
    line-height: 0.9;
    margin: 0px auto;

font-family: cursive;
}
.center1{
text-align: center;
    width: 600px;
    line-height: 0.9;
    margin: 0px auto;

font-family: cursive;
}
button{ 
	font-family: cursive;
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.left
{
 text-align:left;
    width: 100px;
    line-height: 0.9;
    margin: 0px auto;
    
font-family: cursive;   
}
.starr{
 text-align:center;
    width: 100px;
    line-height: 0.9;
    margin: 0px auto;
    left-padding:80px;
}